.animate{
    animation: animate 1s ease-in-out;
}
.imganimate{
    animation: animateimg 1s ease-in-out;
}
@keyframes animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animateimg{
    0%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}