.animate{
    animation: animate 1s ease-in-out;
}
.animatesearch{
    animation: animate 0.4s ease-in-out;
}
.imganimate{
    animation: animateimg 1s ease-in-out;
}
.animatetextcart{
    animation:  animatetextcart 0.5s ease-in-out;
}
.animatetextprice{
    animation:  animatetextprice 0.5s ease-in-out;
}
.animatelineopen{
    animation: animatelineopen 0.4s ease-in-out;
}
.animatelineclose{
    animation: animatelineclose 0.4s ease-in-out;
}
.animatesearchopen{
    animation: animatesearchopen 0.4s ease-in-out;
}
.animatesearchclose{
    animation: animatesearchclose 0.4s ease-in-out;
}
@keyframes animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animatetextcart {
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes animatetextprice {
    0%{
        transform: translateY(0px)
    }
    100%{
        transform: translateY(-15px);
    }
}
@keyframes animatelineopen {
    0%{
        transform: translateY(25px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animatelineclose {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(25px);
        opacity: 0;
    }
}
@keyframes animatesearchopen {
    0%{
        transform: translateY(-25px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animatesearchclose {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-25px);
        opacity: 0;
    }
}