.animate{
    animation: animate 1s ease-in-out;
}
.imganimate{
    animation: animateimg 1s ease-in-out;
}
.animatetextcart{
    animation:  animatetextcart 0.5s ease-in-out;
}
.animatetextprice{
    animation:  animatetextprice 0.5s ease-in-out;
}
@keyframes animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animatetextcart {
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes animatetextprice {
    0%{
        transform: translateY(0px)
    }
    100%{
        transform: translateY(-15px);
    }
}