@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap');
* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    scroll-behavior: smooth;
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}
.b-icon{
    transition: 0.5s;
}
.b-icon:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.bg-nav{
    background: rgb(250, 250, 250);
}
.eye{
    background-image: url(https://cdn.discordapp.com/attachments/896721421621919754/900257562937671690/eye.png);
    width: 25px;
    height: 25px;
    transition: 0.4s;
}
.eye:hover{
    background-image: url(https://cdn.discordapp.com/attachments/896721421621919754/900257561876529152/eye-red.png);
    transition: 0.4s;
    animation: dugdig1 0.5s infinite;
}
.heart{
    background-image: url(https://cdn.discordapp.com/attachments/896721421621919754/900256845195792454/heart.png);
    transition: 0.4s;
    width: 25px;
    height: 25px;
}
.heart1{
    background-image: url(https://cdn.discordapp.com/attachments/896721421621919754/900253941663682640/heart-red.png);
    transition: 0.4s;
    width: 25px;
    height: 25px;
}
.heart:hover{
    background-image: url(https://cdn.discordapp.com/attachments/896721421621919754/900256843945885736/heart-red.png);
    transition: 0.4s;
    animation: dugdig 0.5s infinite;
}
.heart1:hover{
    background-image: url(https://cdn.discordapp.com/attachments/896721421621919754/900253941663682640/heart-red.png);
    transition: 0.4s;
    animation: dugdig 0.5s infinite;
}
@keyframes dugdig {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
@keyframes dugdig1 {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.animate-open {
    animation: openn 0.5s ease-in-out;
}

.animate-close {
    animation: close 0.5s ease-in-out;
}

.hidebar {
    right: -40rem;
}
@keyframes openn {
    0% {
        right: -40rem;
    }

    100% {
        right: 0rem;
    }
}

@keyframes close {
    0% {
        right: 0rem;
    }

    100% {
        right: -40rem;
    }
}